body{
    background-color: aqua;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 75px;
    font-style: bold;
    text-align: center;
}

h2{
    color: navy;
    text-decoration: underline;
    text-align: center;
}

h4{
    color: rgb(180, 44, 44);
    font-family: 'Courier New', Courier, monospace
}
    

